# Virtual Environment
bin/
include/
lib/
lib64
pyvenv.cfg
share/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Models and Output
output/
*.bin
*.pt
*.pth
*.ckpt
*.h5

# Datasets
E-commerce dataset/
# data/ (Include small data files, ignore large ones)
data/train.jsonl
data/cleaned/train_cleaned.json

# Logs
*.log

# IDEs
.vscode/
.idea/
